*{
  box-sizing: border-box;
}

body{
  height: 1000%;
  width: 100%;
}

.header{
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gainsboro;
  z-index: 10;
  &__name{
    height: 60%;
    width: 100%;
    line-height: 100%;
    text-align: center;
    }
    .header__name-portfolio{
      font-size: 4.0rem;
      padding-top: 1.5%;
    }
    .header__name-masakimurakami{
      font-size: 1.0rem;
      padding-top: 1%;
    }
    
  &__tab{
    height: 40%;
    width: 100%;
    padding-bottom: 1%;

    }
    .tab-brack{
      height: 100%;
      width: 25%;
      text-align: center;
      float: left;
      padding-top: 0.5%;
      text-decoration: none;
      background-color: black;
      color: #ffffff;
      border-radius: 10px;
    }
    .tab-white{
      height: 100%;
      width: 25%;
      text-align: center;
      float: left;
      padding: 0 2.5%;
      padding-top: 0.5%;
      text-decoration: none;
      background-color: #ffffff;
      color: black;
      border-radius: 10px;
      
      }
}

.tv{
  height: 100vh;
  width: 100vw;
  float: left;
  background: url('/assets/index-tv.jpeg');
  margin-top: 8%;
  background-size: 100% 100%;
  position: relative;
  &__space-1{
    height: 18%;
    width: 14.8%;
    position: absolute;
    top: 37.6%;
    left: 46.9%;
    }
    .tv-portfolio-image-1{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      z-index: 3;
    }
    .tv-portfolio-image-2{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 15px;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .tv-portfolio-image-3{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 15px;
      top: 0;
      left: 0;
      z-index: 1;
    }
  &__space-2{
    height: 19.4%;
    width: 13.8%;
    position: absolute;
    bottom: 17.5%;
    left: 26.8%;
    }
    .tv-image-2{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
    }
  &__space-3{
    height: 20.6%;
    width: 13.8%;
    position: absolute;
    bottom: 16.1%;
    right: 24.1%;
    }
    .tv-image-3{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
    }
  &__tab{
    height: 100%;
    width: 100%;
    .tv__tab-portforio-1{
      height: 5.6%;
      width: 8.7%;
      position: absolute;
      top: 29%;
      right: 13.5%;
      border-radius: 4px;
      -webkit-transform: rotate(55deg);
      cursor: pointer;
    }
    .tv__tab-portforio-2{
      height: 5.6%;
      width: 8.7%;
      position: absolute;
      top: 24.1%;
      right: 9.6%;
      border-radius: 4px;
      -webkit-transform: rotate(55deg);
      cursor: pointer;
    }
    .tv__tab-portforio-3{
      height: 4.8%;
      width: 8.7%;
      position: absolute;
      top: 19.5%;
      right: 6%;
      border-radius: 4px;
      -webkit-transform: rotate(55deg);
      cursor: pointer;
    }
  }
}

.works-1{
  height: 40vh;
  width: 100vw;
  background-color: brown;
  float: left;
}
.works-2{
  height: 40vh;
  width: 100vw;
  background-color: rgb(42, 165, 48);
  float: left;
}
.works-3{
  height: 40vh;
  width: 100vw;
  background-color: rgb(54, 42, 165);
  float: left;
}