*{
  box-sizing: border-box;
}

body{
  height: 100vmin;
  width: 100vw;
  font-family: "Hiragino Sans"; 
}
.tv{
  height: 100vmin;
  width: 100vw;
  float: left;
  background: url('/tv-background-3.jpeg');
  background-size: 100% 100%;
  position: relative;
  .tv-image1{
    height: 100vmin;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
  .tv-image2{
    height: 100vmin;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__space-1{
    height: 18%;
    width: 14.8%;
    position: absolute;
    top: 37.6%;
    left: 46.9%;
    }
    .tv-portfolio-image-01{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      z-index: 10;
    }
    .tv-portfolio-image-02{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      z-index: 9;
    }
    .tv-portfolio-image-1{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      z-index: 5;
    }
    .tv-portfolio-image-2{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 15px;
      top: 0;
      left: 0;
      z-index: 4;
    }
    .tv-portfolio-image-3{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 15px;
      top: 0;
      left: 0;
      z-index: 3;
    }
  &__space-2{
    height: 19.4%;
    width: 13.8%;
    position: absolute;
    bottom: 17.5%;
    left: 26.8%;
    }
    .tv-masaki-image-01{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .tv-masaki-image-02{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
      z-index: 9;
    }
    .tv-masaki-image-1{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
      z-index: 4;
    }
  &__space-3{
    height: 20.6%;
    width: 13.8%;
    position: absolute;
    bottom: 16.1%;
    right: 24.1%;
    }
    .tv-murakami-image-01{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .tv-murakami-image-02{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
      z-index: 9;
    }
    .tv-murakami-image-1{
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      top: 0;
      left: 0;
      z-index: 3;
    }
  &__tab{
    height: 100%;
    width: 100%;
    .tv__tab-portforio-1{
      height: 5.6%;
      width: 8.7%;
      position: absolute;
      top: 29%;
      right: 13.5%;
      border-radius: 4px;
      -webkit-transform: rotate(55deg);
      cursor: pointer;
    }
    .tv__tab-portforio-2{
      height: 5.6%;
      width: 8.7%;
      position: absolute;
      top: 24.1%;
      right: 9.6%;
      border-radius: 4px;
      -webkit-transform: rotate(55deg);
      cursor: pointer;
    }
    .tv__tab-portforio-3{
      height: 4.8%;
      width: 8.7%;
      position: absolute;
      top: 19.5%;
      right: 6%;
      border-radius: 4px;
      -webkit-transform: rotate(55deg);
      cursor: pointer;
    }
  }
}

.works-1{
  height: 60vh;
  width: 100vw;
  float: left;
  background: url('/works-image-1.jpeg');
  background-size: 100% 100%;
  position: relative;
  z-index: -3;
  }
  .works-image-1{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .works-image-2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .works-logo-1{
    font-size: 8.0vmin;
    position: absolute;
    top: 3vmin;
    left: 7vmin;
    color: #ffffff;
  }
  .works-title-1{
    font-size: 4.0vmin;
    position: absolute;
    top: 16.5vmin;
    left: 13vmin;
    color: #ffffff;
  }
  .works-description-1{
    font-size: 2.0vmin;
    position: absolute;
    top: 25vmin;
    left: 7vmin;
    color: #ffffff;
  }
  .chat-space-1{
    height: 47%;
    width: 15%;
    position: absolute;
    top: 19%;
    right: 38.5%;
    border: #ffffff solid 3px ;
    background: url('/chat-space-image-1.jpeg');
    background-size: 100% 100%;
    animation: chat-space-1 1.5s linear infinite;
    transform-origin: 50% 50%;
    z-index: -2;
    display: none;
  }
  @keyframes chat-space-1 {
    0% { transform: translateY(10px) }
    25% { transform: translateY(0) }
    50% { transform: translateY(-10px) }
    75% { transform: translateY(0) }
    100% { transform: translateY(10px) }
  }
  .chat-space-2{
    height: 47%;
    width: 15%;
    position: absolute;
    top: 19%;
    right: 15%;
    border: #ffffff solid 3px ;
    background: url('/chat-space-image-2.jpeg');
    background-size: 100% 100%;
    animation: chat-space-2 1.5s linear infinite;
    transform-origin: 50% 50%;
    z-index: -2;
    display: none;
  }
  @keyframes chat-space-2 {
    0% { transform: translateY(-10px) }
    25% { transform: translateY(0) }
    50% { transform: translateY(10px) }
    75% { transform: translateY(0) }
    100% { transform: translateY(-10px) }
  }
.works-2{
  height: 60vh;
  width: 100vw;
  float: left;
  background: url('/works-image-2.jpeg');
  background-size: 100% 100%;
  position: relative;
  z-index: -5;
  }
  .works-image-3{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .works-image-4{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
  }
  .works-logo-2{
    font-size: 8.0vmin;
    position: absolute;
    top: 6.5%;
    right: 4.3%;
    color: #ffffff;
  }
  .works-title-2{
    font-size: 4.0vmin;
    position: absolute;
    top: 26%;
    right: 7%;
    color: #ffffff;
  }
  .works-description-2{
    font-size: 2.0vmin;
    position: absolute;
    top: 40%;
    right: 6.8%;
    color: #ffffff;
  }
  .mercari-1{
    height: 47%;
    width: 15%;
    position: absolute;
    top: 19%;
    left: 15%;
    border: #ffffff solid 3px ;
    background: url('/mercari-image-1.jpeg');
    background-size: 100% 100%;
    animation: mercari-1 1.5s linear infinite;
    transform-origin: 50% 50%;
    z-index: -4;
    display: none;
  }
  @keyframes mercari-1 {
    0% { transform: translateY(-10px) }
    25% { transform: translateY(0) }
    50% { transform: translateY(10px) }
    75% { transform: translateY(0) }
    100% { transform: translateY(-10px) }
  }
  .mercari-2{
    height: 47%;
    width: 15%;
    position: absolute;
    top: 19%;
    left: 38.5%;
    border: #ffffff solid 3px ;
    background: url('/mercari-image-2.jpeg');
    background-size: 100% 100%;
    animation: mercari-2 1.5s linear infinite;
    transform-origin: 50% 50%;
    z-index: -4;
    display: none;
  }
  @keyframes mercari-2 {
    0% { transform: translateY(10px) }
    25% { transform: translateY(0) }
    50% { transform: translateY(-10px) }
    75% { transform: translateY(0) }
    100% { transform: translateY(10px) }
  }
.works-3{
  height: 60vh;
  width: 100vw;
  float: left;
  background: url('/works-image-3.jpeg');
  background-size: 100% 100%;
  position: relative;
  z-index: -7;
  }
  .works-logo-3{
    font-size: 8.0vmin;
    position: absolute;
    top: 3vmin;
    left: 7vmin;
    color: #ffffff;
  }
  .works-title-3{
    font-size: 4.0vmin;
    position: absolute;
    top: 16.5vmin;
    left: 12vmin;
    color: #ffffff;
  }
  .works-description-3{
    font-size: 2.0vmin;
    position: absolute;
    top: 25vmin;
    left: 7vmin;
    color: #ffffff;
  }
  .apparel-web-1{
    height: 47%;
    width: 15%;
    position: absolute;
    top: 19%;
    right: 38.5%;
    border: #ffffff solid 3px ;
    background: url('/apparel-web-image-1.jpeg');
    background-size: 100% 100%;
    animation: apparel-web-1 1.5s linear infinite;
    transform-origin: 50% 50%;
    z-index: -2;
    display: none;
  }
  @keyframes apparel-web-1 {
    0% { transform: translateY(10px) }
    25% { transform: translateY(0) }
    50% { transform: translateY(-10px) }
    75% { transform: translateY(0) }
    100% { transform: translateY(10px) }
  }
  .apparel-web-2{
    height: 47%;
    width: 15%;
    position: absolute;
    top: 19%;
    right: 15%;
    border: #ffffff solid 3px ;
    background: url('/apparel-web-image-2.jpeg');
    background-size: 100% 100%;
    animation: apparel-web-2 1.5s linear infinite;
    transform-origin: 50% 50%;
    z-index: -2;
    display: none;
  }
  @keyframes apparel-web-2 {
    0% { transform: translateY(-10px) }
    25% { transform: translateY(0) }
    50% { transform: translateY(10px) }
    75% { transform: translateY(0) }
    100% { transform: translateY(-10px) }
  }
  .works-image-5{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .works-image-6{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -6;
  }
.profile{
  height: 60vmin;
  width: 100vw;
  float: left;
  background-color: rgb(255, 216, 45);
  position: relative;
  }
  .profile-photo-1{
    height: 60%;
    width: 20%;
    position: absolute;
    top: 21%;
    left: 35%;
    background: url('/profile-image-1.jpeg');
    background-size: 100% 100%;
    border-radius: 50%;
    border: black solid 6px;
    z-index: 3;
    transition: transform 2s;
    transform: rotateY(360deg);
    display: none;
  }
  .profile-photo-2{
    height: 60%;
    width: 20%;
    position: absolute;
    top: 21%;
    left: 35%;
    background: url('/profile-image-2.jpeg');
    background-size: 100% 100%;
    border-radius: 50%;
    border: black solid 6px;
    z-index: 2;
    transition: transform 2s;
    transform: rotateY(360deg);
    display: none;
  }
  .profile-photo-3{
    height: 60%;
    width: 20%;
    position: absolute;
    top: 21%;
    left: 35%;
    background: url('/profile-image-3.jpeg');
    background-size: 100% 100%;
    border-radius: 50%;
    border: black solid 6px;
    z-index: 1;
    transition: transform 2s;
    transform: rotateY(360deg);
    display: none;
  }
  .profile-title{
    position: absolute;
    top: 5%;
    right: -25%;
    font-size: 4.0rem;
    color: black;
    display: none;
  }
  .profile-description{
    position: absolute;
    top: 24%;
    right: -30.3%;
    font-size: 1.5rem;
    line-height: 150%;
    color: black;
    display: none;
  }